<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One blog</title>
    <style type="text/css">
        body{
            align-content: center;
            list-style-type: none;
            background-color: #e5c7ca;
        }
        .btn-primary {
        background-color: #d63384;
        }

        .button__container {
            max-width: 900px;
            margin-bottom: 20px;
            margin-top: 20px;
        }



    </style>
</head>
<body>
<div>
    <div class="container button__container">
    <a href="/books/" class="btn btn-primary">CATALOG</a>
    </div>
     <h3>Title:</h3>
    <h2><a href="/book/{{ object.id }}/">{{ object.title }}</a></h2>
    <h3>Image:</h3>
    <p><img style="width: 200px; height: 300px" src="{{ object.image.url }}" alt=""></p>
    <h3>Description:</h3>
    <p>{{ object.description }}</p>
    <h3>Genre:</h3>
    <p>{{ object.genre }}</p>
</div>
<button><a href="/books/{{ object.id }}/update" class=" btn btn-primary">Update</a></button>
<button><a href="/books/{{ object.id }}/delete" class=" btn btn-primary">Delete</a> </button>
<div>
    <h2>Comments:</h2>
    <ul>
        {% for i in object.book_comment.all %}
            <li>
                {{ i.text }}
            </li>
            <p>{{ i.created_date }}</p>
        {% endfor %}
    </ul>
</div>
<div>
    <h2>Expert</h2>
    <ul>
        {% for i in object.book_expert.all %}
            <li>
                {{ i.full_name_of_Expert }}
                {{ i.personal_info }}
                {{ i.activity  }}
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
{#    <h2><a href="/book/{{ books.id }}/">{{ books.title }}</a></h2>#}
{#    <p>{{ books.genre }}</p>#}
{#    <p>{{ books.description }}</p>#}
{#    <img src="{{ books.image.url }}" alt="">#}
